

html {
    background-color: orange;
}

div {
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

h2 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
}

.main {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subsection {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}